.registration-form-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.registration-field {
    width: 100%;
}

.montants {
    margin-top: 30px;
}